<!DOCTYPE html><html><head>
  <meta charset="utf-8">
  <title>Web Pages</title>
  <link rel="stylesheet" href="~/src/stylesheets/options.scss">
  <script type="module" src="~/src/javascripts/options.js"></script>
</head><body>

  <div id="options-page" data-controller="router">
    <header data-router-target="header">
      <h1 class="page--title">
        Web Pages
      </h1>

      <p class="page--description">
        Helps navigate between all your web sites.
      </p>
    </header>

    <main data-router-target="main">
    </main>
  </div>

</body></html>
