<!DOCTYPE html><html><head>
  <meta charset="utf-8">
  <title>WP Control</title>
  <link rel="stylesheet" href="/src/stylesheets/popup.css">
  <script type="module" src="/src/javascripts/popup.js"></script>
</head><body>

  <div id="popup-page" data-controller="router">
    <header data-router-target="header">
      <h1 class="page--title">
        WP Control
      </h1>

      <p class="page--description">
        Helps navigate between all your WP sites.
      </p>
    </header>

    <main data-router-target="main">
    </main>
  </div>

</body></html>
