@import 'general';

#popup-page {
  @apply py-5;

  min-height: 300px;
  width: 420px;
}


.page--title {
  @apply pb-1;
}

.page--description {
  @apply mb-5;
}

.page--list .list-item {
  @apply flex;
  @apply flex-row;
  @apply justify-start;
  @apply items-center;
  @apply p-2.5;
  @apply transition-all;

  &:hover {
    @apply bg-shade;
  }

  .favicon {
    @apply bg-shade;
    @apply flex-shrink-0;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply select-none;

    height: 60px;
    width: 60px;
    border-radius: 16px;

    img {
      @apply inline-block;

      max-height: 48px;
      max-width: 48px;
    }
  }

  .site {
    @apply ml-4;
  }

  .site > * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 220px;
  }

  .site .label {
    @apply font-medium;
    @apply text-sm;
    @apply mb-1;
  }

  .site .url {
    @apply text-black;
    @apply opacity-50;
    @apply text-xs;
  }

  .actions {
    @apply flex-grow;
    @apply ml-auto;
    @apply flex;
    @apply flex-row;
  }

  .actions a {
    @apply bg-shade hover:bg-green;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply ml-2;

    border-radius: 100px;
    height: 44px;
    width: 44px;
  }
}

.create-site {
  @apply bg-shade hover:bg-green;

  border-radius: 100px;
  height: 64px;
  width: 64px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;

  &::after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 30;
  }

  object {
    height: 24px;
    width: 24px;
    position: relative;
    z-index: 20;
  }
}
